[Unit]
Decription=AVChat Apprtc Server

[Service]
User=root
Type=simple
Restart=always
PIDFile=/run/avchat/apprtc_server.pid
ExecStart=/bin/bash /usr/bin/avchat-apprtc-server

[Install]
WantedBy=multi-user.target

